* {
  margin: 0;
  padding: 0;
}

.top-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bottom-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*sliders start*/
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  top: 2px;
  bottom: 4px;
  right: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
input:focus + .slider {
  box-shadow: 0 0 1px linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 14px;
}
.slider.round:before {
  border-radius: 50%;
}
body {
  font-family: "Montserrat";
  color: #6c6e85;
  background-color: #f6f6fd;
}

.pricing {
  display: block;
  text-align: center;
  font-weight: bolder;
  margin-top: 40px;
}
.pricing-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: lighter;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.div1,
.div2,
.div3 {
  background-color: white;
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  z-index: 1;
  margin: 5px;
}

button {
  width: 260px;
  font-family: "Montserrat";
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-width: 0;
}

.card:hover {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  height: 400px;
  transform: scale(1.05);
  z-index: 2;
}

.card:hover button {
  background: white;
  color: #7d81e3;
}

.card button:hover {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  cursor: pointer;
}

.numbers {
  font-weight: bold;
  font-size: 50px;
}

ul {
  list-style-type: none;
}

li {
  padding: 18px;
}

hr {
  border-top: 0.2px solid #efefef;
  width: 260px;
  opacity: 0.4;
  margin-left: 15px;
}

@media (max-width: 375px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-img {
    position: absolute;
    width: auto;
    height: auto;
  }
}
